DISCORD_TOKEN= The token of your Discord bot
DB_NAME= The PostgreSQL database name
DB_USERNAME= The PostgreSQL database user
DB_PASSWORD= The PostgreSQL database password
DB_IP= The PostgreSQL database IP
DB_PORT= The PostgreSQL database port
ENCRYPTION_KEY= The key to encrypt user tokens with
